// Colors:
$green: #009200;

/* Screen sizes, breakpoint (bp) */
$large-desktop-bp-lower: 1201px;
$desktop-bp-upper: 1200px;
$desktop-bp-lower: 993px;
$tablet-bp-upper: 992px;
$tablet-bp-lower: 769px;
$mobile-bp-upper: 768px;

$navbar-height: 1px;
$content-max-size: 70vw;
$link-color: $green;
