@import 'src/constants';

// Golden ratio.
$height: 300px;
$width: $height * calc(8 / 13);

$bg: #000000;
$bg-accent: #251300;
$border-color: #333333;

$flip-speed: 800ms;

// No reason, it just worked. The transition must happen when the card has flipped halvway.
$hidden-speed: $flip-speed / 4;

.bookStatus {
  visibility: hidden;
  padding: 0 10px;
  margin-left: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.book {
  // background: linear-gradient(157deg, $bg 20%, $bg-accent 50%, $bg 100%);
  background: radial-gradient(circle, $bg-accent 0%, $bg 100%);
  padding: 20px;
  height: $height;
  width: $width;
  border-radius: 10px;
  border: 1px solid $border-color;
}

.flipped {
  transition: $flip-speed;
  transform: rotateY(180deg) scaleX(-1);

  .book {
    background: $border-color;
  }
}

.unflipped {
  transition: $flip-speed;
}

.visible {
  visibility: visible;
  transition-delay: $hidden-speed;
}

.hidden {
  visibility: hidden;
  transition-delay: $hidden-speed;
}

.wrapper:hover {
  .book {
    filter: brightness(1.5);
  }
  .bookStatus {
    visibility: visible;
  }
}
