@import 'src/constants';

.link {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    filter: brightness(1.5);
  }
}

.underline {
  text-decoration: underline $link-color;
}
